.main {
    color: var(--text-alt);
    text-align: center;
    margin: 4rem 0;

    .about_us {
        padding: 0 10%;
        font-size: clamp(1.25rem, 1.75vw, 1.75rem);

        a {
            text-decoration: underline;
            font-weight: 600;
            text-decoration-thickness: 2px;
            
            &:hover, &:focus-visible {
                color: var(--primary);
            }
        }
    }

    hr {
        width: 90%;
        border: none;
        height: 4px;
        border-radius: 100vw;
        background: var(--text-alt);
        margin-block-start: 3rem;
        margin-block-end: 3rem;
    }

    .card_container {
        padding: 0 15%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 2rem;
        place-items: center;

        &.event_heads {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
            & > * {
                width: 75%;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .card_container {
            grid-template-columns: repeat(1, 1fr);
            &.event_heads {
                display: grid;
                padding: 0 15%;
                gap: 2rem;
                grid-template-columns: repeat(1, 1fr);
                & > * {
                    width: 100%;
                }
            }
        }

        .about_us {
            text-align: justify;
        }
    }
}