.main {
    text-align: center;
    color: var(--text-alt);
    padding: 0 10%;
    min-height: 100vh;

    .card_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        margin: 2rem auto;
        gap: 1rem;
        width: 100%;
        place-items: center;

        @media (max-width: 600px) {
            grid-template-columns: 1fr
        }
    }
}