.bg {
	background: linear-gradient(#006666, black 80%);
	min-height: 100vh;

	h1 {
		font-family: 'Cinzel Decorative', serif;
		color: transparent;
		font-size: clamp(1rem, 8vw, 5rem);
		font-weight: 900;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		
		span {
			color: transparent;
			font-size: clamp(1rem, 6vw, 4rem);
			background: linear-gradient(to bottom, hsl(39, 52%, 58%) 20%, hsl(39, 52%, 20%));
			background-clip: text;
		}
	}

	.logo {
		display: grid;
		place-items: center;
		height: 75vh;

		& > * {
			width: 50% !important;
		}
	}
}