.main {
    color: var(--text-white);
    text-align: center;
    padding-inline: clamp(1rem, 7.5vw, 15rem);

    h1 {
        text-align: center;
    }

    p {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
    }

    h2 {
        margin-block-end: 0;
    }

    .layout {
        display: grid;
        place-items: center;
        grid-template-areas:
            "school school"
            "campus campus"
            "address address"
            "email phone"
            "social social";

        @media (max-width: 600px) {
            grid-template-areas:
                "school"
                "campus"
                "address"
                "email" 
                "phone"
                "social";
        }

        background-color: var(--inactive);
        border-radius: 1rem;
        padding: 1em;

        .contact_section {
            display: grid;
            place-items: center;

            &.addr {
                grid-area: address;
                text-align: justify;
                padding: 0 2rem;
            }

            &.email {
                grid-area: email;
                a {
                    position: relative;
                    z-index: 0;
                }
            }

            &.phone {
                grid-area: phone;
            }

            &.social {
                grid-area: social;

                .icons {
                    gap: 3rem;
                    .social_icon {
                        max-width: clamp(3rem, 4vw, 4rem);
                    }
                }
            }
        }

        .school_name {
            grid-area: school;
        }

        .campus {
            grid-area: campus;
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;
        }
    }

    hr {
        width: 100%;
        border: none;
        height: 4px;
        border-radius: 100vw;
        background: var(--text-alt);
        margin-block-start: 3rem;
        margin-block-end: 3rem;
    }

    .tdb_section {
        display: grid;
        place-items: center;
        grid-auto-rows: auto auto;
        width: 100%;
        gap: 2em;
        
        padding: 2rem 0;
        margin: 2rem 0;
        border-radius: 1em;
        background: var(--inactive);
        color: var(--text-white);

        .tdb_logo {
            width: 30%;
        }

        .card_container {
            padding: 1rem;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap: 1rem;
            place-items: center;

            background: hsl(0, 0%, 0%, 50%);
            
            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }
        }

        .tdb_social {
            .tdb_icons {
                gap: 3rem;
                .tdb_social_icons {
                    max-width: clamp(3rem, 5vw, 5rem);
                }
            }
        }

        .tdb_email {
            position: relative;
            z-index: 0;
            font-size: clamp(0.75rem, 2vw, 1.5rem);
            margin-block-start: 1em;
        }

    }
}