.main {
  --accent: var(--primary);
  --button-bg: var(--inactive);
  min-height: 100vh;

  .banner {
    display: grid;
    place-items: center;
    padding-bottom: clamp(2rem, 6vw, 6rem);
    user-select: none;
    overflow: hidden;

    .logo {
      width: clamp(100px, 90%, calc(60vw));
    }

    .banner_text {
      height: max-content;
      display: grid;
      place-items: center;
      width: 100%;

      h1 {
        margin: 0%;
      }
    }
  }

  .content {
    color: var(--text-alt);
    margin: auto;
    padding: 2rem clamp(1rem, 15vw, 8rem);

    .tagline {
      text-align: center;
    }

    h2 {
      margin-block-start: 2em;
    }


    p {
      font-size: 18px;
    }

    .description_p {
      font-size: 24px;
    }

    .h2_p,
    h3 {
      margin-left: 1em;
    }

    .h3_p,
    h4 {
      margin-left: 2em;
    }

    .h4_p,
    h5 {
      margin-left: 3em;
    }

    .h5_p {
      margin-left: 4em;
    }

    @media screen and (max-width: 480px) {
      padding: 2rem 10%;
      .h2_p, h3, .h3_p, h4, .h4_p, h5, .h5_p {
        font-size: 18px;
        margin-left: 0;
      }

      ul {
        &.h2_p, &.h3_p, &.h4_p, &.h5_p {
          padding-left: 1em;
        }
      }
    }

    .button {
      background: var(--primary);
      font-size: clamp(0.75rem, 2vw, 1.25rem);
      padding: 1rem;
      min-width: 10rem;
      text-align: center;

      &:focus-visible {
        outline: 6px solid hsl(0, 0%, 0%, 50%);
        outline-offset: -6px;
      }

      &:hover {
        filter: brightness(1.1);
      }
    }

    .register_link_align {
      display: flex;
      justify-content: center;

      .register_link {
        position: relative;
        padding: 1em 2rem;
        margin: 1rem 0;
        background: var(--button-bg);
        color: var(--text-white);
        
        p {
          font-weight: 600;
          font-size: large;
          margin: 0;
        }

        &:hover,
        &:focus-visible {
          background: var(--accent);
        }

        @media (hover: none) {
          background: var(--accent);
        }
      }
    }
  }
}

.main_aov {
  background: var(--background);
  --accent: linear-gradient(to top, hsl(39, 52%, 58%) 20%, transparent),
    hsl(39, 52%, 35%);
  --button-bg: linear-gradient(to bottom, hsl(39, 00%, 58%) 20%, transparent),
    hsl(39, 00%, 35%);
  .banner {
    background: url("../../public/images/events/aov_background.png"),
      linear-gradient(#006666, black 80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: darken, normal;

    .banner_text {
      background: linear-gradient(
        to bottom,
        hsl(39, 52%, 58%) 20%,
        hsl(39, 52%, 20%)
      );
      background-clip: text;

      h1 {
        font-family: "Cinzel Decorative", serif;
        color: transparent;
        font-size: clamp(1rem, 8vw, 5rem);
        font-weight: 900;

        span {
          color: transparent;
          font-size: clamp(1rem, 6vw, 4rem);
          background: linear-gradient(
            to bottom,
            hsl(0, 0%, 58%),
            hsl(0, 0%, 40%)
          );
          background-clip: text;
        }
      }
    }
  }

  .content {
    .tagline {
      color: black;
      font-family: "Cinzel Decorative", serif;
      font-size: clamp(15px, 3vw, 1.5rem);
      text-align: center;
      text-transform: capitalize;
    }

    .game_logo {
      display: flex;
      place-items: center;
      align-items: center;
      justify-content: center;
      margin: 0 4rem;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
      height: auto;
      aspect-ratio: 16 / 3;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 0rem;
      margin: auto;
      transition-property: width, aspect-ratio, border-radius, margin;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
      position: relative;
      
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(10px);
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.125), transparent);
        transition-property: backdrop-filter, background-image;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
      }

      &:hover {
        width: 70%;
        aspect-ratio: 16 / 9;
        border-radius: 1rem;

        &::after {
          backdrop-filter: blur(0);
          background-image: none;
        }
      }

      @media (max-width: 700px) {
        max-width: 100%;
        margin: 0;
        img {
          width: 100%;
        }
      }
    }
    
    .profile_card {
      background: linear-gradient(hsl(180, 100%, 20%), hsl(0, 0%, 0%) 80%);

      .profile_pic img {
        border-radius: 100%;
        border: 0.25em solid hsl(39deg, 52%, 58%) !important;
      }
    }

    .register_link_align {
      .register_link {
        color: black;
        font-family: "Cinzel", serif;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    --background: black;
    .content {
      .tagline {
        color: hsl(0, 0%, 60%);
      }
    }
  }
}

.main_ko {
  background: var(--background);
  .banner {
    background: url("../../public/images/events/ko_background_2.png"),
      url("../../public/images/events/ko_background.png");
    mask-image: linear-gradient(to top, transparent, black 2rem);
    background-size: 100% 100%;
    aspect-ratio: 16/8.5;

    display: grid;
    place-items: end center;
    padding-bottom: 2rem;

    .logo {
      width: clamp(100px, 90%, calc(40vw));
    }
  }

  .content {
    .tagline {
      text-align: center;
      font-family: "Black Ops One";
      font-weight: normal;

      .blue {
        color: hsl(220, 100%, 55%);
      }

      .red {
        color: hsl(0, 100%, 50%);
      }
    }

    .bg_guide {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      place-items: center;
    }

    .register_link_align {
      .register_link {
        background: linear-gradient(hsl(58, 100%, 40%), hsl(25, 100%, 40%));
        color: white;
        font-family: "Black Ops One", cursive;
        font-size: 1.25rem;
        letter-spacing: 0.1ch;
        font-weight: 100;

        &:hover,
        &:focus-visible {
          background: hsl(58, 100%, 40%);
          color: black;
        }
      }
    }
    
    .profile_card {
      background: linear-gradient(to bottom, hsl(207, 100%, 44%), hsl(207, 100%, 15%));
      outline: 0.25em solid white;
      color: hsl(49, 100%, 50%);
      font-family: "Black Ops One", cursive;
      text-shadow: 0.2em 0.2em black;

      .profile_pic img {
        border-radius: 100%;
        border: 0.25em solid white !important;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    --background: hsl(240, 70%, 7%);
  }
}

.main_td {
  background: var(--background);
  --green: 130, 100%, 60%;
  --blue: 219.92, 96%, 50%;
  --accent: hsl(var(--green));
  --button-bg: rgb(10, 134, 35);
  .banner {
    position: relative;
    background: hsl(0, 0%, 7.5%);

    --blur-radius: clamp(1px, 0.5vw, 2px);

    .logo {
      filter: blur(calc(var(--blur-radius) / 2));
    }

    .banner_text {
      filter: blur(calc(var(--blur-radius) / 1.5));
      font-family: "Inconsolata", monospace;  
      font-weight: 800;
      display: block;

      .command_line {
        color: black;
        position: relative;
        padding-left: 30%;
        margin-top: 1em;
        background: hsl(var(--green), 75%);
        font-size: clamp(1rem, 3vw, 2rem);

        &::after {
          content: "";
          position: absolute;
          bottom: calc(0.375em / 2);
          width: 1ch;
          height: calc(0.375em / 4);
          background: black;
          animation: blink 1s steps(1) infinite;
        }

        @keyframes blink {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 100%;
          }
          100% {
            opacity: 0;
          }
        }

        .type_cursor {
          position: absolute;
        }
      }

      h1 {
        text-align: center;
        font-size: clamp(1.5rem, 4vw, 4rem);
        color: hsl(var(--green));
      }
    }

    .overlay {
      --line-width: clamp(0.5rem, 1vw, 1rem);
      position: absolute;
      inset: 0;
      z-index: 1;
      pointer-events: none;
      touch-action: none;
      filter: blur(var(--blur-radius));
      background: none,
        linear-gradient(
          to top,
          hsl(0, 0%, 0%, 20%) 0 25%,
          hsl(0, 0%, 100%, 10%) 120%
        ),
        repeating-linear-gradient(
          hsl(0, 0%, 0%, 30%) 0 var(--line-width),
          transparent var(--line-width) calc(var(--line-width) * 2)
        );
      background-repeat: no-repeat;
      background-position: center bottom;

      background-size: 100% 100%, cover, auto;
    }

    @media (max-width: 600px) {
      --blur-radius: calc(0.5rem / 8);
    }

    @media (prefers-reduced-motion: no-preference) {
      .logo,
      .banner_text {
        transform: scale(0);
        animation: turnOn 250ms 1s both steps(2);
      }
    }

    @keyframes turnOn {
      0% {
        transform: scale(0);
      }
      49% {
        transform: scale(0);
      }
      50% {
        transform: scaleX(4) scaleY(0);
      }
      75% {
        transform: scaleX(1) scaleY(0.25);
      }
      100% {
        transform: scaleY(1);
      }
    }
  }

  .content {
    .tagline {
      color: hsl(144, 63%, 46%);
      font-family: "Inconsolata", monospace;
      font-weight: normal;
      font-size: clamp(32px, 5vw, 3.0rem);
      padding: 2rem;
      margin: auto;
      width: fit-content;
      .grey {
        color: hsl(0, 0%, 40%);
      }
    }

    .register_link_align {
      .register_link {
        color: black;
        font-family: "Inconsolata", monospace;
        font-weight: 800;
      }
    }

    .profile_card {
      background: black;
      outline: 0.25em solid var(--accent);
      color: var(--accent);
      font-family: "Inconsolata", monospace;
    }
  }

  @media (prefers-color-scheme: dark) {
    --background: black;
  }
}

.main_lab {
  background: var(--background);
  --accent: hsl(47, 100%, 85%);
  --button-bg: hsl(47, 100%, 80%);
  .banner {
    padding: 0;
    display: grid;
    place-items: center;
    background: radial-gradient(
        40% 17% at 47% 83%,
        hsl(47, 100%, 85%, 34.9%) 13.33%,
        hsl(57, 82%, 85%, 1.4%) 60%,
        transparent 70%
      ),
      linear-gradient(
        hsl(243, 32%, 11%) 0%,
        hsl(0, 0%, 2%) 15% 60%,
        transparent 100%
      ),
      linear-gradient(
        to top,
        hsl(243, 31%, 11%) 5%,
        hsl(243, 31%, 39%) 50%,
        transparent 50% 100%
      );
    @media (max-width: 600px) {
      background: radial-gradient(
          70% 20% at 50% 83%,
          hsl(47, 100%, 85%, 34.9%) 13.33%,
          hsl(57, 82%, 85%, 1.4%) 60%,
          transparent 70%
        ),
        linear-gradient(
          transparent 0%,
          hsl(0, 0%, 2%) 15% 60%,
          transparent 100%
        ),
        linear-gradient(
          to top,
          hsl(243, 31%, 11%),
          hsl(243, 31%, 39%) 50%,
          transparent 50% 100%
        );
      .logo {
        width: 100%;
      }
    }
  }

  .content {
    .tagline {
      color: var(--text-alt);
      font-family: "Courier New", Courier, monospace;
    }

    .register_link_align {
      .register_link {
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-weight: 800;
      }
    }

    .profile_card {
      background: var(--accent);
      color: black;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  @media (prefers-color-scheme: dark) {
    --background: hsl(243, 32%, 11%);
  }
}

.main_ds {
  background: var(--background);
  --accent: hsl(320, 67%, 55%);
  --button-bg: hsl(260, 67%, 25%);
  .banner {
    background: hsl(260, 67%, 25%);
    .banner_text {
      font-family: "Geostar Fill", monospace;
      color: white;
      font-size: clamp(1.5rem, 4vw, 4rem);
      word-wrap: break-word;
    }
  }

  .content {
    .tagline {
      font-family: "Geostar Fill", monospace;
    }

    .register_link_align {
      .register_link {
        color: hsl(320, 100%, 100%);
        font-family: "Geostar Fill", monospace;
        border: 4px solid white;

        transition: background 100ms, border-color 100ms;

        &:hover,
        &:focus-visible {
          border-color: hsl(192, 100%, 50%);
        }
      }
    }

    .profile_card {
      background: hsl(260, 67%, 25%);
    }
  }

  @media (prefers-color-scheme: dark) {
    --background: hsl(259, 61%, 15%);
  }
}

.main_otk {
  background: var(--background);

  --accent: linear-gradient(to bottom,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 0%, 0) 10%,
      hsla(360, 100%, 47%, 0.29) 40%,
      hsla(360, 100%, 9%, 0.22) 42%,
      hsla(360, 100%, 9%, 0) 60%
    ),
    linear-gradient(to bottom, hsla(257, 100%, 22%), hsl(320, 100%, 45%));
  --button-bg: hsl(276, 100%, 22%);
  .banner {
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: hsl(257, 100%, 6%);
    mask-image: linear-gradient(to top, transparent, black 2rem);
    padding-top: 4rem;
    .logo {
      z-index: 2;
      perspective: clamp(2cm, 10vw, 5cm);
      width: clamp(60%, 60rem, 90%);
      aspect-ratio: 16/7;
      display: grid;
      place-items: center;
      & > * {
        transform-origin: bottom;
        bottom: 0;
        transform: translateZ(-1rem) rotateX(10deg);
      }
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: grid;
      place-items: center;
    }

    .banner_background {
      --circle-size: 70%;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -1;
      margin: auto;
      border-radius: 100%;
      aspect-ratio: 1;
      transform-origin: center;
      transform: scale(var(--circle-size)) rotateZ(22.5deg);
      background: radial-gradient(
          circle at center,
          transparent 0 63%,
          hsl(46, 100%, 50%, 25%) 67% 100%
        ),
        repeating-linear-gradient(
          transparent 0 1.5%,
          hsl(305, 100%, 30%, 30%) 1.5% 3.5%,
          transparent 3.5% 5%
        ),
        linear-gradient(to top, hsl(305, 100%, 50%) 30%, hsl(49, 100%, 50%));
      box-shadow: 0 0 100px hsl(320, 100%, 45%);

      --blur-radius: clamp(2px, 0.25vw, 4px);
      filter: blur(var(--blur-radius)) contrast(0.75);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        left: 8px;
        right: -8px;
        border-radius: 100%;
        mix-blend-mode: overlay;
        background: hsl(0, 100%, 50%, 50%);
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        left: -8px;
        right: 8px;
        border-radius: 100%;
        mix-blend-mode: overlay;
        background: hsl(180, 100%, 50%, 50%);
      }
    }

    .grid_ground {
      position: absolute;
      z-index: 1;
      width: 200%;
      height: 100%;
      left: -50%;
      bottom: -20%;
      perspective: 100px;
      perspective-origin: center 40%;
      --blur-radius: clamp(1px, 0.25vw, 3px);
      filter: blur(var(--blur-radius)) contrast(0.9) saturate(0.75);

      div {
        position: absolute;
        transform-style: flat;
        transform: scaleX(2) rotateX(85deg) translateY(60px);
        inset: 0;
        --line-width: clamp(0.0625rem, 0.25vw, 0.125rem);
        --sizing: clamp(10px, 4vw, 40px);
        background: linear-gradient(
            to top,
            hsl(320, 100%, 45%) 0 var(--line-width),
            transparent var(--line-width) 20px
          ),
          linear-gradient(
            to left,
            hsl(320, 100%, 45%) var(--line-width),
            transparent var(--line-width)
          ),
          linear-gradient(
            to left,
            hsl(0, 80%, 50%) 0 var(--line-width),
            transparent var(--line-width)
          ),
          linear-gradient(
            to left,
            hsl(180, 80%, 50%, 100%) 0 var(--line-width),
            transparent var(--line-width)
          ),
          linear-gradient(
            to bottom,
            hsl(0, 0%, 100%) 10%,
            hsl(320, 100%, 45%),
            transparent 40%
          ),
          hsl(278, 78%, 9%);

        background-size: var(--sizing) calc(var(--sizing) * 2),
          calc(var(--sizing) * 2) calc(var(--sizing) * 2),
          calc(var(--sizing) * 2) calc(var(--sizing) * 2),
          calc(var(--sizing) * 2) calc(var(--sizing) * 2), cover, cover;

        background-position: -1px -1px, -1px -1px, 0px 0px, -2px -1px, top, top;
        animation: moveUp 750ms 2s forwards 5 linear;
      }

      @keyframes moveUp {
        0% {
          background-position: -1px -1px, -1px -1px, 0px 0px, -2px -1px, top,
            top;
        }
        100% {
          background-position: var(--sizing) calc(var(--sizing) * 2), -1px -1px,
            0px 0px, -2px -1px, top, top;
        }
      }
    }

    .banner_text {
      z-index: 1;
      h1 {
        font-family: "Rock Salt", Impact, fantasy;
        font-size: clamp(1.5rem, 5vw, 4rem);
        color: hsl(337, 100%, 50%);
        text-shadow: 2px -2px 0px hsl(180, 100%, 50%, 75%);
      }
    }
  }

  .content {
    .tagline {
      font-family: "Rock Salt", fantasy;
      font-size: clamp(15px, 3vw, 1.5rem);
      text-align: center;
    }

    .register_link_align {
      .register_link {
        color: yellow;
        font-family: "Rock Salt", fantasy;
        font-weight: 800;
      }
    }

    .profile_card {
      background: var(--accent);
      outline: 0.25em solid var(--accent);
    }
  }

  @media (prefers-color-scheme: dark) {
    --background: hsl(257, 100%, 6%);
  }
}

.ck {
  background:(--background);
  --accent: #fee026;

  .content {
    .register_link_align {
      .register_link {
        position: relative;
        color: #141615;
        font-family: "absolute";

        // background: linear-gradient(hsl(0, 0%, 100%, 10%) 20%, transparent 10% 100%);
        background-color: var(--accent);

        transition-property: border-radius, transform;
        transition-duration: 150ms;
        transition-timing-function: ease;

        p {
          position: relative;
          font-weight: normal;
          font-size: clamp(0.75rem, 5vw, 2rem);
        
        }

        &:hover {
          background-color: black;
          color: #0de545;
          border-radius: 1rem;
          transform: skewX(-22.5deg)
        }
      }
    }

    .profile_card {
      background: linear-gradient(#fee026 45%, #00E44A);
      color: #141615;
    }
  }
}

.main_ps {
  background: var(--background);
  .banner {
    position: relative;
    background: url('/images/events/ps_background2.png');
    background-size: 100% 100%;
    aspect-ratio: 16/7.2;
    display: grid;
    place-items: center center;
    padding-bottom: 10rem;

    .logo {
      width: clamp(100px, 30% , calc(40vw));
    }
    
    .banner_text {
      font-family: "Raceline";
      color: hsl(47, 100%, 57%);
      h1 { font-size: clamp(1.5rem, 7vw, 6rem); }
      word-wrap: break-word;
      
      @media screen and (min-width: 600px) {
        position: static;
        top: 0%;
      }
    }
  }

  .content {
    .tagline {
      font-family: "Sakana";
      font-weight: normal;
      .yellow {
        color: hsl(53, 100%, 55%);
      }
      
    }

    .register_link_align {
      .register_link {
        position: relative;
        color: hsl(58, 100%, 58%);
        font-family: "Imagine";

        // background: linear-gradient(hsl(0, 0%, 100%, 10%) 20%, transparent 10% 100%);
        background: radial-gradient(
          15em 1.5em at center 75%,
          hsl(0, 0%, 0%, 25%) 20%,
          transparent 10%
        );

        transition: background-position 250ms infinite steps(6);

        @keyframes floaty_text {
          from {
            top: 0;
          }

          to {
            top: -0.75em;
          }
        }

        @keyframes text_pop {
          0% {
            transform: scaleX(0) scaleY(1);
          }
          50% {
            transform: scaleX(1.1) scaleY(1.1);
          }
          100% {
            transform: scale(1);
          }
        }

        p {
          position: relative;
          font-weight: normal;
          font-size: clamp(0.75rem, 5vw, 2rem);
          animation: floaty_text 1s infinite alternate ease-in-out;
        
        }

        &:hover {
          background: hsl(0, 0%, 0%, 20%);
          outline: hsl(0, 0%, 0%) groove 0.5em;
          outline-offset: -0.5em;
        
          p {
            animation: text_pop 0.25s 1 forwards linear;
          }
        }
      }
    }
    .profile_card {
      background: linear-gradient(hsl(47, 100%, 57%), hsl(0, 0%, 0%) 90%);
      border: 0.0em solid hsl(0, 100%, 38%) !important; 

      .profile_pic img {
        border-radius: 100%;
        border: 0.5em solid hsla(0, 0%, 0%, .5) !important;
      }
    }
  }
  

  @media (prefers-color-scheme: dark) {
    --background: #000000;
  }
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.5rem;
  place-items: center;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}