.main {
  --accent: var(--primary);
  min-height: 100vh;
  width: 100%;
  color: var(--text-alt);

  .content_container {
    margin-block-start: 2rem;
    margin-block-end: 2rem;

    display: grid;
    place-items: center;
    gap: 2rem;

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 24px;
    }

    hr {
      width: 90%;
      border: none;
      height: 4px;
      border-radius: 100vw;
      background: var(--text-alt);
    }

    .button {
      background: var(--primary);
      font-size: 18px;
      padding: 1rem;
      min-width: 10rem;
      text-align: center;

      &:focus-visible {
        outline: 6px solid hsl(0, 0%, 0%, 50%);
        outline-offset: -6px;
      }

      &:hover {
        filter: brightness(1.1)
      }
    }

    .embed {
      margin: auto;
      width: clamp(60%, 50rem, 90%);
    
      &.video {
        aspect-ratio: 16/9;
      }

      &.pdf {
        width: clamp(50%, 50rem, 100%);
        aspect-ratio: 22/17;
      }

    }
    
    .about {
      padding: 0 10%;
      text-align: center;

      p > a {
        text-decoration: underline;
        text-underline-offset: 0.25ch;
        &:hover, &:focus-visible  {
          color: var(--primary)
        }
      }
    }

    .navigation {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      width: 50%;
    }
  }

}