.main {
	color: var(--text-alt);
	padding: 0 10%;

	h1 {
		text-align: center;
	}

	h2 {
		text-align: left;
	}

	ul {
		padding-left: clamp(2rem, 4vw, 4rem);
	}

	p {
		font-size: clamp(1rem, 1.25vw, 1.25rem);
	}

	a {
		color: var(--text-alt);
		text-decoration: underline;

		&:hover, &:focus-visible  {
			color: var(--primary)
		}
	}
}