.banner {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: transparent;
    position: relative;
    z-index: 0;

    h1, h2 {
        position: relative;
        color: white;
        z-index: 1;
        opacity: 0;
        animation: show_welcome 1s 5s forwards;
    }

    .container {
        display: grid;
        place-items: center;
        position: absolute;
        inset: 0;
        
        overflow: hidden;
        padding: clamp(1rem, 2vw, 2rem) 0 1rem;
    
        width: 100%;
        height: 100%;

        background: radial-gradient(circle, var(--primary) 0 50%, transparent 50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0;

        animation: scale_bg 2s 2.5s forwards;

        .svg {
            position: absolute;
            transform: scale(1000);
            animation: bounce_v 2s 0.5s forwards;
        }

        .v {
            height: 100%;
            aspect-ratio: 1;
            fill: var(--primary);
        }
    
        .logo_img {
            z-index: 1;
            transform: scale(0);
            position: absolute;
            width: 80%;
            display: grid;
            place-items: center;
            animation: show_logo 1s 4s forwards ease-out;
        }
    
    }

    @media (prefers-color-scheme: dark) {
        .container {
            background: radial-gradient(circle, var(--inactive) 0 50%, transparent 50%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 0;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        h1 {
            animation: none;
            opacity: 1;
        }

        .container {
            background-size: 1000% 1000%;
            animation: none;
            
            .svg {
                transform: scale(0);
                animation: none;
            }

            .logo_img {
                transform: scale(1);
                animation: none;
            }
        }
    }

    @keyframes bounce_v {
        0% {
            transform: scale(1000);
        }

        50% {
            transform: scale(1);
        }

        70% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes scale_bg {
        from {
            background-size: 0% 0%;
        }

        to {
            background-size: 1000% 1000%;
        }
    }

    @keyframes show_welcome {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes show_logo {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
}
