.registration_form {
	position: relative;
	background: var(--inactive);
	margin: 2rem auto;
	color: var(--text-white);

	h2, h3 {
		text-align: center;
		margin-block-start: 1ch;
		margin-block-end: 1ch;
	}

	h2 {
		font-size: clamp(1.5rem, 2vw, 2rem);
	}

	label {
		font-size: clamp(1rem, 1.5vw, 1.25rem);
	}

	input:not([type="Submit"]), select {
		box-sizing: border-box;
		padding: 1ch;
		border: none;
		transition: background 100ms;

		&:hover, &:focus-visible {
			background: hsl(130, 90%, 40%);
			color: var(--text-white);
			&::placeholder {
				color: hsl(0, 0%, 90%);
			}
		}
	}

	input[required] {
		border-bottom: red 4px solid;

		&:valid {
			border-bottom: none;
		}
	}

	input, select {
		&:focus, &:focus-visible {
			outline: black 3px solid;
		}
	}

	.error {
		display: grid;
		padding: 0.5rem 0;
		padding-left: 1rem;
		background-color: hsl(10, 0%, 0%);
		border-radius: 1ch;
		color: hsl(0, 100%, 60%);
		text-decoration: underline;
		text-underline-offset: 0.25ch;

		p {
			margin: 0;
		}
	}

	.disable_form_window {
		position: absolute;
		inset: 0;
		display: grid;
		place-items: center;
		user-select: none;
		align-content: center;
		background:
			radial-gradient(circle at center, hsl(0, 0%, 0%, 50%) 50%, transparent),
			#003c4780;
		backdrop-filter: blur(5px);

		h2 {
			padding: 0 1rem;
			text-align: center;
		}

		.reset_form_btn {
			background: #00cc22;
			padding: 1ch;
		}
		
		.throbber {
			display: grid;
			place-items: center;
			grid-auto-flow: column;
			.throbber_section {
				scale: 0;
				width: 1rem;
				aspect-ratio: 1;
				background: radial-gradient(circle at center,white 50%, transparent 50%);
			}
		}
	}

	.form_title {
		grid-area: title;
		padding: 1ch;
		background: var(--primary);

		h2 {
			text-align: center;
		}
	}

	.form_fields {

		--grid-gap: 1rem;

		grid-area: form;
		padding: 0 var(--grid-gap);
		margin: var(--grid-gap) 0;

		display: grid;
		grid-template-areas: "event platform";
		gap: var(--grid-gap);

		 .event_field, .platform_field {
			display: grid;
			grid-template-rows: 1fr;
			gap: var(--grid-gap);
		}

		@media (max-width: 768px) {
			grid-template-areas: "event" "platform";
			.event_field, .platform_field {
				gap: calc(var(--grid-gap) / 2);
			}

			.event_field{
				grid-template-columns: 25% auto;
				grid-auto-flow: row;
			}
		}

		@media (max-width: 400px) {
			.event_field, .platform_field {
				grid-template-columns: 1fr;
			}
		}

		.event_field {
			grid-area: event;
		}

		.platform_field {
			grid-area: platform;
			display: grid;
			grid-template-rows: auto, auto;

			.platform_input {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
				gap: calc(var(--grid-gap) / 2);
			}
		}
	}

	.team_fields {
		grid-area: names;
		display: grid;
		grid-auto-flow: row;
		padding: 0 1rem;
		margin: 1rem 0;
		gap: 1rem;

		hr {
			width: 90%;
			border: none;
			height: 4px;
			border-radius: 100vw;
			background: var(--text-alt);
		  }
		
		.team_input {
			display: grid;
			grid-template-columns: max-content auto;
		}

		.member_input {
			display: grid;
			grid-template-columns: max-content 1fr max-content 1fr;
			
			.member_error {
				grid-row: 3;
				grid-column: span 4;
			}

			.error_field {
				color: red;
				outline: red 3px solid;
				background: black;

				&::placeholder {
					color: red;
				}

				&:hover, &:focus-visible {
					background: white;
					color: black;
					&::placeholder {
						color: var(--text-white);
					}
				}
			}
		}

		.team_input, .member_input {
			width: 100%;
			gap: 1rem;
		}

		@media (max-width: 850px) {
			.team_input, .member_input {
				gap: 0.5rem;
			}
			.team_input {
				grid-template-columns: 1fr;
			}
			.member_input {
				grid-template-columns: max-content auto;
				grid-auto-flow: row;

				.member_error {
					grid-row: 4;
					grid-column: span 2;
				}
			}
		}

		@media (max-width: 400px) {
			.member_input {
				grid-template-columns: 1fr;
			}
		}
	}

	.submit {
		grid-area: submit;
		display: grid;
		place-items: center;
		padding: 1rem;
		input {
			background: var(--primary);
			border: none;
			padding: 1ch;
			width: 50%;
			font-size: clamp(1rem, 1.5vw, 1.5rem);
			color: white;
			font-weight: bold;

			&:hover {
				background: hsl(130, 70%, 40%);
			}

			&:invalid, &:disabled {
				filter: saturate(0);
			}
		}
	}
}