.scrolling_bg {
	background-color: var(--primary);
	padding: 0.125rem;
	overflow: hidden;
	box-shadow: 0 1em 1em hsl(0, 0%, 0%, 25%);

	.scrolling_text {
		color: var(--text-white);
		place-items: center;
		display: grid;
		grid-template-columns: 75% 75%;
		
		@media (max-width: 768px) {
			grid-template-columns: max-content max-content;
			gap: 50%;

			animation: scroll_left_mobile 30s linear infinite;

			@keyframes scroll_left_mobile {
				0% {
					transform: translateX(100%);
				}
				100% {
					transform: translateX(-400%);
				}
			}
		}

		p {
			margin: 0;
			white-space: nowrap;
		}

		animation: scroll_left 30s linear infinite;

		@keyframes scroll_left {
			0% {
				transform: translateX(100%);
			}

			100% {
				transform: translateX(-150%);
			}
		}
	}
}