.main {
    min-height: 100vh;
    width: 100%;
    color: var(--text-alt);
    padding: 2.5rem;
    padding-top: 0;
  
    h1 {
        font-size: 4rem;
        text-align: center;
    }

    .cards_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        gap: 2.5rem;

        @media screen and (max-width: 640px) {
            grid-template-columns: 1fr;
        }
        
        .card {
            position: relative;
            --background-color: var(--inactive);
            --accent: black;
            color: var(--text-white);
            background: var(--accent);

            h2 {
                text-align: center;
            }

            .logo {
                background: var(--accent);
                background-size: 100%;
                padding: 1rem;
                aspect-ratio: 16/9;
                display: grid;
                place-items: center;
            }

            .aov {
                background: 
                url('../public/images/events/aov_background.png'),
                linear-gradient(hsl(180, 100%, 20%), black);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-blend-mode: darken, normal;
            }

            .td {
                --blur-radius: clamp(0.03125rem, 0.5vw, 0.09rem);
                --line-width: clamp(0.5rem, 1vw, 1rem);
                filter: blur(var(--blur-radius));
                background: no-repeat center/95% 95% url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png'),
                    linear-gradient(to left, black 3%, transparent 3% 97%, black 97% 100%),
                    linear-gradient(to bottom, black 3%, transparent 3% 97%, black 97% 100%),
                    linear-gradient(to top, hsl(0, 0%, 0%, 20%) 0 25%, hsl(0, 0%, 100%, 10%) 120%),
                    repeating-linear-gradient(hsl(0, 0%, 0%, 30%) 0 var(--line-width), transparent var(--line-width) calc(var(--line-width) * 2)),
                    hsl(0, 0%, 7.5%);
            }

            .lab {
                background: 
                    radial-gradient(90% 20% at 50% 86%, hsl(47, 100%, 85%, 34.9%) 13.33%, hsl(57, 82%, 85%, 1.4%) 60%, transparent 70%),
                    linear-gradient(transparent 0%, hsl(0, 0%, 2%) 15% 60%, transparent 100%),
                    linear-gradient(to top, hsl(41, 12%, 25%) 0 50%, hsl(30, 18%, 9%) 50% 100%);
            }

            .otk {
                background: linear-gradient(transparent 70%, var(--accent)), url('/images/events/otk_background.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                perspective: 200px;
                & > * {
                    transform: rotateX(22.5deg) scale(0.9);
                }
            }

            .info {
                position: relative;
                display: grid;
                padding: 1rem;
                gap: 1rem;
                overflow: hidden;
                font-size: clamp(0.5rem, 5vw, 1rem);

                p {
                    margin: 0;
                }

                .read_more {
                    background: var(--primary);
                    padding: 1rem;
                    position: relative;
                    left: 0;
                    width: 60%;
                    transition: left 250ms ease, width 500ms ease;
                    
                    &:hover, &:focus-visible {
                        left: -1rem;
                        width: calc(100% + 2rem);
                    }

                    &:focus-visible {
                        outline: hsl(0, 0%, 0%, 30%) solid 3px;
                        outline-offset: -3px;
                    }
                }
            }
        }
    }
}