.main {
    --color: black;
    --accent: var(--primary);
    background: var(--background);

    .banner {
        display: grid;
        place-items: center;
        padding-bottom: 4rem;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4rem), 0 100%);

        .logo {
            width: clamp(100px, 90%, calc(60vw));
        }

        .banner_text {
            height: max-content;
            display: grid;
            place-items: center;
            width: 100%;

            h1 {
                margin: 0%;
            }
        }
    }

    .content {
        color: var(--color);
        
        width: 80%;
        margin: auto;
        padding: 2rem;
        
        p {
            font-size: clamp(14px, 2vw, 18px);
        }

        .register_link_align {
            display: flex;
            justify-content: center;

            .register_link {
                background: var(--accent);
                color: white;
                padding: 0.5em 1em;
                font-weight: 600;
                font-size: large;
                margin: 1rem 0;
                transition: padding 250ms;
                
                &:hover {
                    padding: 0.5em 1rem;
                } 
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        --background: black;
        --color: white;
    }
}

.main_aov {
    .banner {
        --grad-start: hsl(174deg 100% 20%);
        --grad-end: black;
        background: linear-gradient(var(--grad-start), var(--grad-end));
    
        .banner_text {
            background: linear-gradient(to bottom, hsl(39, 52%, 58%) 20%, hsl(39, 52%, 20%));
            background-clip: text;
    
            h1 {
                font-family: 'Cinzel Decorative', serif;
                color: transparent;
                font-size: clamp(1rem, 8vw, 5rem);
                font-weight: 900;
                
                span {
                    color: transparent;
                    font-size: clamp(1rem, 6vw, 4rem);
                    background: linear-gradient(to bottom, hsl(0, 0%, 58%), hsl(0, 0%, 40%));
                    background-clip: text;
                }
            }
        }
    }

    .content {
        .tagline {
            --color: black;
            color: var(--color);
            font-family: 'Cinzel Decorative', serif;
            font-size: clamp(15px, 3vw, 1.5rem);
            text-align: center;
            text-transform: capitalize;
        }
    }

    @media (prefers-color-scheme: dark) {
        .content {
            .tagline {
                --color: hsl(0, 0%, 60%);
            }
        }
    }
}

.main_td {
    .banner {
        background: hsl(0, 0%, 16%);
        .banner_text {
            font-family: 'Inconsolata', monospace;
            font-weight: 800;
            display: block;
            p {
                color: white;
                position: relative;
                padding-left: 30%;
                background-color: hsl(0, 0%, 20%);
                font-size: clamp(1rem, 3vw, 2rem);
                .yellow {
                    color: hsl(60, 100%, 50%);
                }

                .blue {
                    color: hsl(180, 100%, 50%);
                }

                &::after {
                    content: "";
                    position: absolute;
                    // left: 100%;
                    bottom: calc(0.375em/2);
                    width: 1ch;
                    height: calc(0.375em/4);
                    background-color: white;
                    // border: calc(0.375em/4) white solid;
                    animation: blink 1s steps(1) infinite;
                }

                @keyframes blink {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 100%;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
            h1 {
                text-align: center;
                font-size: clamp(1.5rem, 4vw, 4rem);
                color: hsl(360, 80%, 60%);
                span {
                    color: hsl(280, 100%, 40%);
                }
            }
        }
    }

    .content {
        .tagline {
            --color: black;
            --color-2: hsl(0, 0%, 40%);
            color: var(--color);
            font-family: 'Inconsolata', monospace;
            font-weight: 800;
            font-size: clamp(16px, 3vw, 1.5rem);
            margin: auto;
            width: fit-content;
            .grey {
                color:var(--color-2);
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        .content {
            .tagline {
                --color: white;
            }
        }
    }
}

.main_otk {
    .banner {
        background: white;

        .banner_text {
            h1 {
                font-family: 'Rock Salt', Impact, fantasy;
                font-size: clamp(1.5rem, 4vw, 4rem);
                color: red;
                text-shadow: 2px 2px 0 yellow;
            }
        }
    }

    .content {
        .tagline {
            font-family: 'Rock Salt', fantasy;
            font-size: clamp(15px, 3vw, 1.5rem);
            text-align: center;
        }
    }
}
